.off-canvas {
  .menu {
    padding-top: 30px;
    padding-left: 20px;
    background: $primary-color;
    height: 100vh;

    a {
      font-family: $body-font-family;
      font-size: 20px;
      padding: 20px;
      color: $white;
		text-transform: uppercase;
		outline: none;
      &:hover {
        text-transform: uppercase;
        text-decoration: underline;
        transition: 0.3s;
      }
    }
  }
}
.ba-header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgb(107, 105, 105), transparent);
  z-index: 10;
}
.ba-nav {
  display: flex;
  justify-content: space-around;
}
.ba-main-menu {
  display: flex;
  justify-content: space-between;
  li {
    font-family: $body-font-family;
    color: $primary-color;
    font-size: 20px;
    font-weight: 700;
  }
  li + li{
	  margin-left: 20px;

	  @include breakpoint(large){
		margin-left: 100px;
	  }
  }
  a {
    text-decoration: none;
    position: relative;
    transition: all 0.6s;
    &:before {
      content: "";
      width: 0;
      height: 3px;
      position: absolute;
      bottom: 25px;
      left: 0;
      background: $primary-color;
      transition: all 0.3s;
    }
    &:hover,
    &:focus {
      &:before {
        width: 100%;
        left: 0;
        background: $primary-color;
      }
    }
  }
}
.ba-call {
  &:hover {
    color: $alert-color;
  }
}
.ba-contacts {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  li {
    list-style: none;
  }
}
