<footer class="ba-footer">
    <div class="row column">

			<ul class="ba-footer-list show-for-medium" data-smooth-scroll>
				<li><a href="index.html">Головна</a></li>
				<li><a href="index.html#services">Послуги</a></li>
				<li><a href="index.html#about">Про нас</a></li>
				<li><a href="index.html#contact">Контакти</a></li>
			</ul>

			<div class="row">

				<div class="column small-6">
					<ul class="ba-footer-list__1 hide-for-medium" data-smooth-scroll>
						<li><a href="index.html">Головна</a></li>
						<li><a href="index.html#services">Послуги</a></li>
					</ul>
			
				</div>
				<!-- /.column -->
				<div class="column small-6">
					<ul class="ba-footer-list__2 hide-for-medium" data-smooth-scroll>
						<li><a href="index.html#about">Про нас</a></li>
						<li><a href="index.html#contact">Контакти</a></li>
					</ul>
			
				</div>
				<!-- /.column -->
			</div>
			<!-- /.row -->
		
	
        
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->