<section class="ba-avtoelektrik">

	<div class="ba-text">
		<h3 class="text-center">Автоелектрик</h3>
		<p>Виконуємо роботи з пошуку , усунення короткого замкнення , витоку струму та ремонту проводки. Ремонт стартерів та генераторів, електродвигунів та механізмів автомобіля. Заміна ламп освітлювальних приборів та головного світла . Встановлення додаткового обладнання, такого як : автомігнітоли, камери заднього виду, протитуманних ліхтарів, підключення фаркопів та ін. </p>
	</div>
	<!-- /.ba-text -->
</section>