<section class="ba-contact" id="contact">
	<div class="row align-center">
		<div class="column">
<h2 class="text-center">Як нас знайти?</h2>
</div>
<div class="column">
	<img class="small-12 medium-3 ba-img" src="assets/img/place1.jpg" alt="place">
	<img class="small-12 medium-3 ba-img" src="assets/img/place2.jpg" alt="place">
	<img class="small-12 medium-3 ba-img" src="assets/img/place3.jpg" alt="place">
</div>
<!-- /.column -->
</div>
<!-- /.row -->

		<div class="row align-center">

			<div class="ba-data column small-12 medium-12">
				
				<ul class="ba-data__call text-center column small-6 medium-6">
					<li><a class="ba-tel" href="tel:+380677319100">+38-067-731-91-00</a></li>
					<li><a class="ba-tel" href="tel:+380951375164">+38-095-137-51-64</a></li>
				</ul>
				
				<div class="column text-center small-6 medium-6">
					<p>м. Полтава</p>
					<p>вул. Європейська, 150Б</p>
				</div>
				<!-- /.ba-column -->

				</div>
	<!-- /.ba-data -->
		
		</div>
		<!-- /.row -->
</section>