<section class="ba-section-intro">
	
		<div class="intro">
			<div class="video">
				<video class="video__media" preload="auto" autoplay="autoplay" muted
				loop="loop" poster="assets/img/avto1.jpg">
				<source src="assets/img/car.mp4" type="video/mp4"> 
				<source src="assets/img/car.webm" type="video/webm">
				</video>
		  </div>

		  <div class="row align-left">
			  <div class="intro__content column small-12 medium-10 large-8">
				  
	  <h1>
		  <span>"Гаррем"-</span><br>
		  Гарантований ремонт вашого авто<br> в полтаві
	  </h1>
	  <p class="ba-subtitle">м. Полтава, <br>вул. Європейська, 150Б</p>
	  <p class="hide-for-large"><a class="ba-call" href="tel:+380677319100">+38-067-731-91-00</a></p>
	  <p class="hide-for-large"><a class="ba-call" href="tel:+380951375164">+38-095-137-51-64</a></p>
			  </div>
			  <!-- /.column -->
		  </div>
		  <!-- /.row -->

		</div>
		<!-- /.intro -->


	
</section>