<section class="ba-diagnostics">

	<div class="ba-text">
		<h3 class="text-center">Компютерна діагностика</h3>
		<p>Діагностуємо автомобілі за допомогою сканерів СКАНМАТИК, АВТОКОМ, LAUNCH (видалення кодів несправності, зчитування параметрів роботи двигуна, КПП, АBS, ESP і т.д., тест механізмів). Також в своїй роботі використовуємо мотортестер МТ- 4.1, яким перевіряємо системи запалювання, рівномірності та ефективності роботи циліндрів двигуна, роботу генератора, стартера, електроніки вашого авто(скрипти Css, Px, EL power).</p>
	</div>
	<!-- /.ba-text -->
</section>