<section class="ba-about" id="about">
	<div class="row align-center">
		<div class="column">
			<h2 class="text-center">про нас</h2>
		</div>
		<!-- /.column -->

		<div class="column small-12 medium-12">
			<div class="ba-slider-spec">

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/avto2007.jpg" alt="avto">

						<div class="ba-spec__info small-12 medium-6">
							<h4 class="ba-spec__title text-center">На ринку автопослуг з<br> 2007 року</h4>
						</div>
						<!-- /.ba-spec-info -->
					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/order.jpg" alt="order">

						<div class="ba-spec__info small-12 medium-6">
							<h4 class="ba-spec__title text-center">Працюємо охайно</h4>
						</div>
						<!-- /.ba-spec-info -->
					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/car.jpg" alt="order">

						<div class="ba-spec__info small-12 medium-6">
							<h4 class="ba-spec__title text-center">Бережно відносимось до вашого авто</h4>
						</div>
						<!-- /.ba-spec-info -->
					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/positiv.jpg" alt="positiv">

						<div class="ba-spec__info small-12 medium-6">
							<h4 class="ba-spec__title text-center">Ми завжди на позитиві!</h4>
						</div>
						<!-- /.ba-spec-info -->
					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				</div>
				</div>

				<ul class="slick-dots">

				</ul>

				<!-- <div class="ba-slick-arrows-two">
					<div data-spec-prev>
						<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M7.41 11.34L2.83 6.75l4.58-4.59L6 .75l-6 6 6 6 1.41-1.41z" fill="#cc4b37" /></svg>
					</div>
					<div data-spec-next class="ba-spec-next">
						<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M.59 11.34l4.58-4.59L.59 2.16 2 .75l6 6-6 6-1.41-1.41z" fill="#cc4b37" /></svg>
					</div>
				</div>
				/..ba-slider-arrows -->

			</div>

			<p class="text-about text-center">На ринку автопослуг ми з 2007 року. За цей час ми примножили свою професійність та розширили спектр послуг. Сьогодні ми пропонуємо послуги автоелектрика, займаємось комп'ютерною діагностикою, чисткою інжекторів, ремонтом ходової та сваркою авто. Ми бережно відносимось до вашого авто. Працюємо на позитиві.</p>
</section>