<section class="ba-services" id="services">
	<div class="row">
		<div class="column small-12 medium-12">
			<h2 class="text-center">
				послуги
			</h2>
			<p class="ba-info text-center">за невирішену проблему гроші не беремо!</p>
		</div>
		<!-- /.column -->

		<div class="row align-center">

			<div class="card column small-11 medium-5 large-3">
				<h3 class="text-center">Авто-<br>електрик</h3>
				<img class="card__img" src="assets/img/avtoelektrika.jpg" alt="avtoelektrika">
			</div>

			<div class="card column small-11 medium-5 large-3">
				<h3 class="text-center">Комп'ютерна діагностика</h3>
				<img src="assets/img/comp.jpg" alt="comp">
			</div>

			<div class="card column small-11 medium-5 large-3">
				<h3 class="text-center">Чистка інжектора</h3>
				<img src="assets/img/clear1.jpg" alt="clear">
			</div>

			<div class="card column small-11 medium-5 large-3">

				<h3 class="text-center">Ремонт ходової</h3>
				<img src="assets/img/remont.jpg" alt="remont">
			</div>

			<div class="card column small-11 medium-5 large-3">
				<h3 class="text-center">Сварка<br> авто</h3>
				<img src="assets/img/svarka.jpg" alt="svarka">
			</div>


		</div>
		<!-- /.row -->
	</div>
	<!-- /.row -->
</section>